[submodule "src/roboy_controller"]
	path = src/roboy_controller
	url = https://github.com/Roboy/roboy_controller
[submodule "src/roboy_managing_node"]
	path = src/roboy_managing_node
	url = https://github.com/Roboy/roboy_managing_node
[submodule "src/roboy_powerlink"]
	path = src/roboy_powerlink
	url = https://github.com/Roboy/roboy_powerlink
[submodule "src/roboy_simulation"]
	path = src/roboy_simulation
	url = https://github.com/Roboy/roboy_simulation
[submodule "src/common_utilities"]
	path = src/common_utilities
	url = https://github.com/Roboy/common_utilities
[submodule "src/roboy_models"]
	path = src/roboy_models
	url = https://github.com/Roboy/roboy_models
[submodule "src/roboy_communication"]
	path = src/roboy_communication
	url = https://github.com/Roboy/roboy_communication
[submodule "src/roboy_generative_nlp"]
	path = src/roboy_generative_nlp
	url = https://github.com/Roboy/roboy_generative_nlp.git
	branch = ros
[submodule "src/roboy_speech_recognition"]
	path = src/roboy_speech_recognition
	url = https://github.com/Roboy/roboy_speech_recognition.git
[submodule "src/roboy_speech_synthesis"]
	path = src/roboy_speech_synthesis
	url = https://github.com/Roboy/roboy_speech_synthesis.git
[submodule "src/roboy_face"]
	path = src/roboy_face
	url = https://github.com/Roboy/roboy_face.git
[submodule "src/roboy_dialog_system"]
	path = src/roboy_dialog_system
	url = https://github.com/Roboy/roboy_dialog_system.git

