[submodule "src/common_utilities"]
	path = src/common_utilities
	url = https://github.com/Roboy/common_utilities
	branch = master
[submodule "src/roboy_communication"]
	path = src/roboy_communication
	url = https://github.com/Roboy/roboy_communication
	branch = master
[submodule "src/roboy_speech_recognition"]
	path = src/roboy_speech_recognition
	url = https://github.com/Roboy/roboy_speech_recognition.git
	branch = master
[submodule "src/roboy_speech_synthesis"]
	path = src/roboy_speech_synthesis
	url = https://github.com/Roboy/roboy_speech_synthesis.git
	branch = master
[submodule "src/roboy_face"]
	path = src/roboy_face
	url = https://github.com/Roboy/roboy_face.git
	branch = master
[submodule "src/roboy_cognition_manager"]
	path = src/roboy_cognition_manager
	url = https://github.com/Roboy/roboy_cognition_manager.git
	branch = master
[submodule "src/roboy_rqt_plugins"]
	path = src/roboy_rqt_plugins
	url = https://github.com/Roboy/roboy_rqt_plugins.git
	branch = master
[submodule "src/roboy_plexus"]
	path = src/roboy_plexus
	url = https://github.com/Roboy/roboy_plexus.git
	branch = master
[submodule "src/RoboyUnityFace"]
	path = src/RoboyUnityFace
	url = https://github.com/Roboy/RoboyUnityFace.git
	branch = xtin/roboy2.0 
[submodule "src/roboy_nodered_ui"]
	path = src/roboy_nodered_ui
	url = https://github.com/Roboy/roboy_nodered_ui.git
[submodule "src/ParlAI"]
	path = src/ParlAI
	url = https://github.com/Roboy/ParlAI.git
[submodule "src/ros_ncs"]
	path = src/ros_ncs
	url = https://github.com/Roboy/ros_intel_movidius_ncs
